/**** Variables ****/
$color-main: #444444
$color-white: #ffffff
$color-black: #000000
$color-white-off: #ababab


/* reset */
*
    margin: 0
    padding: 0

a, a:link, a:hover, a:active, a:focus
    text-decoration: none    

h1, h2, h3, h4, h5, h6, p, div, span, li
    font-family: 'Josefin Sans', sans-serif

section
    padding: 3rem 0

.section-intro
    text-align: center
    .section-intro__title
        position: relative
        font-size: 4.5rem
        margin-bottom: 0
        span
            position: relative
            background: $color-white
            padding: 0 15px
        &:before
            content: ''
            position: absolute
            top: 45%
            left: 0
            background: $color-main
            width: 100%
            height: 3px
        
    .section-intro__desc
        font-size: 1.2rem
        letter-spacing: -1px
        color: $color-main


    
/* global */
.overlay
    position: absolute
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.7)

.cta
    color: #eeeeee
    background: #c0392b
    border: 3px solid #c0392b
    padding: 10px
    display: inline-block
    transition: all 300ms ease
    &:hover
        color: #eeeeee
        background: transparent

.title
    margin: 5px 0 10px
    font-size: 24px
    font-weight: 300
    letter-spacing: 1px
    color: #101010

.desc
    margin-bottom: 10px
    color: #5a5a5a


/* navbar */
.navbar-expand-lg
    background: #000 !important
    .navbar-brand
        color: #eeeeee
    .navbar-nav 
        .nav-link
            color: #eeeeee
            transition: all 300ms ease
        .nav-link:hover, .nav-link.active
            color: #c0392b

    // Mobile
    .navbar-toggler
        background-color: #c0392b
        i
            color: #eeeeee


/* intro */
.intro
    display: table
    width: 100%
    position: relative
    height: 500px
    background-image: url(../img/background.jpg)
    background-attachment: fixed
    .inner
        display: table-cell
        vertical-align: middle
        text-align: center
        position: relative
        .title
            color: #c0392b
            font-size: 3.5rem
        .desc
            width: 70%
            margin: 0 auto
            color: #c7c7c7
            font-size: 1.7rem
            margin-bottom: 30px
        

/**** About ****/
.about
    .content
        font-size: 1.5rem
        text-align: center


/**** Movies ****/
.movies
    background: $color-black

    .section-intro
        .section-intro__title
            span
                background: $color-black
                color: $color-white
            &:before
                background: $color-white
        .section-intro__desc
            color: $color-white-off

    .movie-list
        padding-left: 0
        padding-right: 0

    .nav-tabs
        margin-top: 1rem
        border-bottom: 0
        justify-content: center
        align-items: center
        .nav-item
            .nav-link
                color: $color-white
                background: 0
                border: 0
                margin: 0 0.5rem
                text-transform: uppercase
                border-bottom: 3px solid transparent
                letter-spacing: 1px
                transition: all 300ms ease
                &:hover
                    border-color: $color-white
            .nav-link.active
                border: 0
                border-bottom: 3px solid $color-white
    .movie
        margin: 50px 0
        transition: all 300ms ease-in-out
        &:hover
            background: #101010
            transform: translateY(-10px)
        .thumbnail
            position: relative
            overflow: hidden
            text-align: center
            padding-left: 0
            padding-right: 0
            img
                max-height: 250px
                @media all and (min-width: 520px)
                    width: 100%
            @media all and (max-width: 576px)
                margin-bottom: 20px
        
        .details
            ul, p
                margin-bottom: 0
            .type
                padding-top: 0.5rem
                li
                    font-size: 14px
                    text-transform: uppercase
                    color: $color-white-off
                    letter-spacing: 2px
                li:after
                    content: ","
                li:last-child:after
                    content: ""
            .title
                color: $color-white
                margin: 0.5rem 0
            .desc
                color: $color-white-off
            .meta
                margin-top: 0.5rem
                li
                    font-size: 14px
                    background: $color-white
                    color: $color-black
                    padding: 5px 10px
                    border-radius: 5px




// News
.news
    background: #fdfdfd
    padding-bottom: 100px
    article
        padding: 20px
        transition: all 300ms ease
        &:hover
            box-shadow: 0 10px 17px 2px #f3f3f3
        .title
            a
                display: block
                color: #101010
        time
            display: inline-block
            margin-bottom: 5px
            font-size: 13px
            background: #bfbfbf
            color: #ffffff
            padding: 2.5px 5px
            border-radius: 5px
        
        .read-more
            position: relative
            display: inline-block
            font-size: 14px
            color: #101010
            text-transform: uppercase
            &:before
                content: ""
                position: absolute
                bottom: 0
                width: 30%
                height: 2px
                background: #c0392b
                transition: all 300ms ease
            &:hover:before
                width: 100%

            // 
            // border-bottom: 2px solid #c0392b