/**** Variables ****/
/* reset */
* {
  margin: 0;
  padding: 0;
}

a, a:link, a:hover, a:active, a:focus {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, div, span, li {
  font-family: 'Josefin Sans', sans-serif;
}

section {
  padding: 3rem 0;
}

.section-intro {
  text-align: center;
}

.section-intro .section-intro__title {
  position: relative;
  font-size: 4.5rem;
  margin-bottom: 0;
}

.section-intro .section-intro__title span {
  position: relative;
  background: #ffffff;
  padding: 0 15px;
}

.section-intro .section-intro__title:before {
  content: '';
  position: absolute;
  top: 45%;
  left: 0;
  background: #444444;
  width: 100%;
  height: 3px;
}

.section-intro .section-intro__desc {
  font-size: 1.2rem;
  letter-spacing: -1px;
  color: #444444;
}

/* global */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.cta {
  position: relative;
  display: inline-block;
  padding: 1rem 0;
  color: #000000;
}

.cta:before, .cta:after {
  content: "";
  position: absolute;
  width: 10%;
  height: 3px;
  background: #000000;
  -webkit-transition: all 500ms cubic-bezier(1, 1.6, 0, 0.9);
  transition: all 500ms cubic-bezier(1, 1.6, 0, 0.9);
}

.cta:before {
  left: 0;
  bottom: 0;
}

.cta:after {
  right: 0;
  top: 0;
}

.cta:hover:before, .cta:hover:after {
  width: 100%;
}

.cta:hover {
  color: #000000;
  border-right-color: #000000;
}

.title {
  margin: 5px 0 10px;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #101010;
}

.desc {
  margin-bottom: 10px;
  color: #5a5a5a;
}

/* navbar */
.navbar-expand-lg {
  background: #000 !important;
}

.navbar-expand-lg .navbar-brand {
  color: #eeeeee;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #eeeeee;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.navbar-expand-lg .navbar-nav .nav-link:hover, .navbar-expand-lg .navbar-nav .nav-link.active {
  color: #c0392b;
}

.navbar-expand-lg .navbar-toggler {
  background-color: #c0392b;
}

.navbar-expand-lg .navbar-toggler i {
  color: #eeeeee;
}

/* intro */
.intro {
  display: table;
  width: 100%;
  height: 80vh;
}

.intro .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.intro .content .content__pre-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0;
}

.intro .content .content__title {
  font-size: 6rem;
  margin: 0;
}

.intro .content .content__desc {
  font-size: 2.5rem;
  color: #5a5a5a;
  margin: 1rem 0;
}

/**** About ****/
.about .content {
  font-size: 1.5rem;
  text-align: center;
}

/**** About ****/
.gallery {
  padding-top: 0;
}

.gallery a {
  margin-bottom: 1.3rem;
}

/**** Sponsors ****/
.sponsors {
  background: #0e0e0e;
}

/**** Movies ****/
.movies {
  background: #000000;
}

.movies .section-intro .section-intro__title span {
  background: #000000;
  color: #ffffff;
}

.movies .section-intro .section-intro__title:before {
  background: #ffffff;
}

.movies .section-intro .section-intro__desc {
  color: #ababab;
}

.movies .movie-list {
  padding-left: 0;
  padding-right: 0;
}

.movies .nav-tabs {
  margin-top: 1rem;
  border-bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movies .nav-tabs .nav-item .nav-link {
  color: #ffffff;
  background: 0;
  border: 0;
  margin: 0 0.5rem;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  letter-spacing: 1px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.movies .nav-tabs .nav-item .nav-link:hover {
  border-color: #ffffff;
}

.movies .nav-tabs .nav-item .nav-link.active {
  border: 0;
  border-bottom: 3px solid #ffffff;
}

.movies .movie {
  margin: 50px 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.movies .movie:hover {
  background: #101010;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.movies .movie .thumbnail {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.movies .movie .thumbnail img {
  max-height: 250px;
}

@media all and (min-width: 520px) {
  .movies .movie .thumbnail img {
    width: 100%;
  }
}

@media all and (max-width: 576px) {
  .movies .movie .thumbnail {
    margin-bottom: 20px;
  }
}

.movies .movie .details ul, .movies .movie .details p {
  margin-bottom: 0;
}

.movies .movie .details .type {
  padding-top: 0.5rem;
}

.movies .movie .details .type li {
  font-size: 14px;
  text-transform: uppercase;
  color: #ababab;
  letter-spacing: 2px;
}

.movies .movie .details .type li:after {
  content: ",";
}

.movies .movie .details .type li:last-child:after {
  content: "";
}

.movies .movie .details .title {
  color: #ffffff;
  margin: 0.5rem 0;
}

.movies .movie .details .desc {
  color: #ababab;
}

.movies .movie .details .meta {
  margin-top: 0.5rem;
}

.movies .movie .details .meta li {
  font-size: 14px;
  background: #ffffff;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
}

.news {
  background: #fdfdfd;
  padding-bottom: 100px;
}

.news article {
  padding: 20px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news article:hover {
  -webkit-box-shadow: 0 10px 17px 2px #f3f3f3;
          box-shadow: 0 10px 17px 2px #f3f3f3;
}

.news article .title a {
  display: block;
  color: #101010;
}

.news article time {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 13px;
  background: #bfbfbf;
  color: #ffffff;
  padding: 2.5px 5px;
  border-radius: 5px;
}

.news article .read-more {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #101010;
  text-transform: uppercase;
}

.news article .read-more:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 30%;
  height: 2px;
  background: #c0392b;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news article .read-more:hover:before {
  width: 100%;
}

/**** Footer ****/
footer {
  padding: 0.5rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */